@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #F0F0F0;
}

h1 {
    margin: 50px 0 30px;
    text-align: center;
}


.faq {
    background-color: transparent;
    border: 1px solid #9fa4e8;
    border-radius: 10px;
    margin: 20px 0;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;

    &-question {
        margin: 0 35px 0 0;
    }

    &-answer {
        display: none;
        margin: 30px 0 0;
    }

    &-toggle {
        position: absolute;
        right: 10px;
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-size: 16px;
        border-radius: 50%;

        .fa-times {
            display: none;
        }

    }

    &__active {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);

        .faq-answer {
            display: block;
        }

        .faq-toggle {
            background-color: #9fa4a8;
            color: #FFF;
        }

        .fa-times {
            display: block;
        }

        .fa-chevron-down {
            display: none;
        }

        &::before,
        &::after {
            content: '\f075';
            font-family: 'Font Awesome 5 Free';
            color: #2ecc71;
            font-size: 7rem;
            position: absolute;
            opacity: 0.2;
            top: 20px;
            left: 20px;
            z-index: 0;
        }

        &::before {
            color: #349edb;
            top: -10px;
            left: -30px;
            transform: rotateY(180deg);
        }
    }

    &-container {
        max-width: 600px;
        margin: 0 auto;
    }

    &-icon {
        font-size: 0;

        &::before {
            font-size: 14px;
        }
    }
}